* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.disabled {
  display: none;
}

p {
  color: black;
  font-family: "Barlow", sans-serif;
}

html {
  background-color: azure;
}

body {
  max-width: 1264px;
  margin: 0 auto;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100%;
}

.header__background {
  width: 100%;
  height: 50vh;
  background-image: url("../images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media (min-width: 810px) {
  .header__background {
    background-image: url("../images/desktop/image-header.jpg");
  }
}

@media (min-width: 810px) {
  .header {
    width: 100%;
    background-size: contain;
  }
}

.navigation {
  height: 0;
}

.navigation__logo {
  padding-top: 25px;
  padding-left: 30px;
  color: white;
  font-size: 25px;
  font-family: "Fraunces", serif;
}

.navigation__list {
  margin: 0 20px;
  padding: 30px 0;
  position: relative;
  top: -400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 20px;
  font-family: "Barlow", sans-serif;
  background-color: aliceblue;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.navigation__list.is-active {
  top: 20px;
}

.navigation__element {
  color: #818498;
  padding: 15px 10px;
}

.navigation__element:hover {
  cursor: pointer;
  color: #333;
}

.navigation__element--special {
  display: block;
  margin: 20px 0;
  padding: 15px;
  background-color: #fad400;
  color: black;
  border-radius: 30px;
  font-family: "Fraunces", serif;
}

.navigation__element--special:hover {
  background-color: #3ebfff;
  color: white;
}

.navigation__hamburger {
  position: absolute;
  top: 30px;
  right: 30px;
}

.navigation__hamburger .disabled {
  display: none;
}

@media (min-width: 810px) {
  .navigation__hamburger {
    display: none;
  }
  .navigation__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: -80px;
    background-color: transparent;
  }
  .navigation__element {
    color: white;
  }
  .navigation__element--special {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    color: black;
  }
}

.navigation__list .is-active {
  top: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.content {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

.content__element {
  height: 80vh;
}

.content__image {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content__text {
  margin: 45px 30px 0 30px;
  text-align: center;
  height: 40%;
}

.content__text span {
  font-size: 30px;
  font-family: "Fraunces", serif;
}

.content__text p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: gray;
}

.content__text a {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.content__anotherElement {
  height: 70vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content__anotherElement-first {
  background-image: url(../images/mobile/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.content__anotherElement-second {
  background-image: url(../images/mobile/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

@media (min-width: 810px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content__element {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content__element:nth-child(2n - 1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .content__image {
    width: 50%;
  }
  .content__text {
    margin: 0 auto;
    width: 30%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: left;
  }
  .content__text--wider {
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
  }
  .content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content__anotherElement {
    width: 50%;
    height: 600px;
  }
  .content__anotherElement-first {
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-position: center;
  }
  .content__anotherElement-second {
    background-image: url(../images/desktop/image-photography.jpg);
    background-position: center;
  }
}

.clients {
  text-align: center;
  color: black;
  height: 100%;
}

.clients__title {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 16px;
  color: #818498;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.clients__client {
  margin: 50px 0;
}

.clients__image {
  border-radius: 50%;
  width: 75px;
  margin-bottom: 25px;
}

.clients__text {
  margin: 0 30px 20px;
  color: #818498;
}

.clients__name {
  font-family: "Fraunces", serif;
}

.clients__profession {
  margin-top: 10px;
  font-size: 12px;
  font-family: "Barlow", sans-serif;
  color: #a7abae;
}

@media (min-width: 810px) {
  .clients {
    height: 100%;
  }
  .clients__title {
    margin-top: 50px;
  }
  .clients__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 150px 50px;
  }
  .clients__image {
    margin-bottom: 40px;
  }
  .clients__text {
    margin-bottom: 50px;
  }
}

.gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__image {
  width: 50%;
}

@media (min-width: 810px) {
  .gallery__image {
    width: 25%;
    height: 100%;
  }
}

.footer {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #7abdb0;
}

.footer__title {
  display: inline-block;
  margin: 50px 0;
  font-size: 30px;
  font-family: "Fraunces", serif;
  color: #25564b;
}

.footer__texts {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__text {
  padding-left: 20px;
  padding-right: 20px;
  color: #25564b;
}

.footer__text:hover {
  cursor: pointer;
  color: #eee;
}

.footer__icon {
  margin-top: 40px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icons {
  padding-left: 10px;
  padding-right: 10px;
}

.footer__icons:hover {
  cursor: pointer;
  -webkit-filter: brightness(20);
          filter: brightness(20);
}
/*# sourceMappingURL=style.css.map */